{% extends "mainapp/base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load mainapp_tags %}
{% block title %}Events{% endblock title %}

{% block content %}
	{% if city %}
		<p class="number_of_events">Przeglądaj wśród {{ no_events }} eventów<br>w lokalizacji {{ city }}</p>
	{% elif weekday %}
		<p class="number_of_events">Przeglądaj wśród {{ no_events }} eventów</p>
			<p>Wybrany dzien tygodnia {{ weekday }}</p>
	{% elif location %}
		<p class="number_of_events">Przeglądaj wśród {{ no_events }} eventów<br>w miejscu {{ location }}</p>
	{% else %}
		<p class="number_of_events">Przeglądaj wśród {{ no_events }} eventów</p>
	{% endif %}

{% if tag %}
	<h2 class="events__hashed">Eventy oznaczone tagiem "{{ tag.name }}"</h2>
{% endif %}

<section class="home__search">
            <h3 class="heading-3">Znajdź ulubione wydarzenie</h3>
            <form action="{% url 'mainapp:events' %}" method="post">
                {% csrf_token %}
                <div class="home__search__fgroup">
                    <label class="home__search__fgroup-label" for="location">Lokalizacja</label>
                    <input class="home__search__fgroup-input" name="location_search" type="text" id="location" placeholder="np. Warszawa">
                </div>
                <div class="home__search__fgroup">
                    <label class="home__search__fgroup-label" for="weekday">Dzień tygodnia</label>
                    <select class="home__search__fgroup-input" name="weekday_search" id="weekday">
                        <option selected class="home__search__fgroup-option">Wybierz dzień</option>
                        <option class="home__search__fgroup-option" value="monday">Poniedziałek</option>
                        <option class="home__search__fgroup-option" value="tuesday">Wtorek</option>
                        <option class="home__search__fgroup-option" value="wednesday">Środa</option>
                        <option class="home__search__fgroup-option" value="thursday">Czwartek</option>
                        <option class="home__search__fgroup-option" value="friday">Piątek</option>
                        <option class="home__search__fgroup-option" value="saturday">Sobota</option>
                        <option class="home__search__fgroup-option" value="sunday">Niedziela</option>
                    </select>
                </div>
                <div class="home__search__fgroup">
                    <label class="home__search__fgroup-label" for="date">Data</label>
                    <input class="home__search__fgroup-input" name="date_search" type="date" id="date">
                </div>
                <button class="home__search-btn">Szukaj</button>
            </form>
        </section>

<div class="events__map">
	MAPA OBIEKTOW
</div>
<div class="events__main">
	<div class="events">
		{% for event in events %}
                <div class="event">
                    <a href="{{event.get_absolute_url }}">
                        <div class="event__img">
                            {% if event.event_photo %}
                                <img src="{{ event.event_photo.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/klub.jpg' %}" alt="">
                            {% endif %}
            
                            <span class="event-timeuntil">
                                {% no_days event.start_date.date|date:'z' time_now.date|date:'z' event.start_date.date|date:'Y' time_now.date|date:'Y' as days_dif %}
                                {% if days_dif < 0 %}
                                    {% absolute  days_dif %} dni temu
                                {% else %}
                                    za {{ days_dif }} dni
                                {% endif %}
                            </span>
                            {% language 'pl' %}
                                <a href="{% url 'mainapp:events_by_weekday' weekday=event.start_date.date|date:'w' %}"><span class="event-monthday">{{ event.start_date.date|date:'l' }}</span></a>
                            {% endlanguage %}
                            <a href="{% url 'mainapp:events_by_city' city=event.city %}"><span class="event-location">{{ event.city }}</span></a>
                            <a href="#"><span class="event-rating">{% count_rating_event event %} ({% count_ratings event %})</span></a>
                            {% if request.user.id %}
                                {% follow_or_unfollow event.id request.user as follow_unfollow %}
                                {% if follow_unfollow %}
                                    <a href="{% url 'mainapp:unfollow_event' pk=event.id page='events' %}">
                                        <span class="event-follow">
                                            <svg class="event-follow-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z"/></svg>
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'mainapp:follow_event' pk=event.id page='events' %}">
                                        <span class="event-follow">
                                            <svg class="event-follow-svg-flw" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z"/></svg>
                                        </span>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'account:login' %}">
                                    <span style="background-color: rgb(125, 125, 125);" class="event-follow">obserwuj</span>
                                </a>
                            {% endif %}
                        </div>
                    </a>
                    <div class="event__bottom">
                        <p class="event-title">{{ event.name }}</p>
                        <span class="event-date">{{ event.start_date|date:'d.m.Y H:i' }} - {{event.end_date|date:'d.m.Y H:i'}}</span>
                        <p class="event__description">
                            {{ event.description|truncatewords_html:20 }}
                        </p>
                    </div>
                    <div class="event__tags">
                        {% for tag in event.tags.all|slice:':4' %}
                            <a class="event__tags-tag" href="{% url 'mainapp:events_by_tag' tag.slug %}">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
	</div>
</div>

</div>
<!-- {% include "mainapp/pagination.html" with page=events %} -->


{% endblock content %}
