{% extends "mainapp/base.html" %}

{% block title %}Password Recovery{% endblock title %}

{% block content %}
    <h1>Password recovery</h1>
    {% if validlink %}
        <p>Give password twice</p>
        <form method="post">
            {{ form.as_p }}

            {% csrf_token %}
            <p><input type="submit" value="Change Password"></p>
        </form>
    {% else %}
        <p>łącze pozwalajace na odzuskiwanie hasła jest nieprawidłowe, [pmoewaz prawwdopodobmoe zoslota] ju wcześnoiej uzyte. musisz ponownie rozpoczac procedire odzuslowamoa jas;a</p>
    {% endif %}
    <p>We send you email message with insctructions letting you to set a new password</p>
    <p>If you dont  get this message, make sure you give correct email adddress in form.</p>
{% endblock content %}