
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet"
        href=
"https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <title>{% block title %}AtrakcjeWydarzenia{% endblock title %}</title>
</head>
<body>
    {% include "mainapp/navbar.html" %}

    {% block content %}
    
    {% endblock content %}
    {% include "mainapp/footer.html" %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>