<nav class="nav">
    <p class="nav__logo">
        <a href="{% url 'mainapp:home' %}">
        AtrakcjeWydarzenia</a>
    </p>
    <ul class="nav__links">
        <li class="nav__links__link"><a href="{% url 'mainapp:home' %}">Home</a></li>
        <li class="nav__links__link"><a href="{% url 'mainapp:events' %}">Events</a></li>
        <li class="nav__links__link"><a href="{% url 'mainapp:attractions' %}">Attractions</a></li>
        <li class="nav__links__link"><a href="#">Promotions!</a></li>
        <li class="nav__links__link"><a href="#">Contact</a></li>

        <li class="nav__links__link"><a href="#">Sign Up</a></li>
        <li class="nav__links__link"><a href="#">Sign In</a></li>
    </ul>
</nav>