{% extends 'mainapp/base.html' %}

{% block content %}

<main class="welcome">
    <section class="welcome__header">
        <p class="welcome__header__p">
            <span class="welcome__header__p_top">Welcome on our website</span> <br>
        <span class="welcome__header__p_bottom">"AtrakcjeWydarzenia"</span> <br>
            Planning trip or already at a place?
            Check out <span class="bold">upcoming</span> events or <span class="bold">available</span> attractions 
            at your destination place and have more fun!
        </p>
    </section>
    <section class="welcome__about">
        O NAS DLACZEGO MY
    </section>
    <section class="welcome__cons">
        PLUSY/KORZYSCI KORZYSTANIA ZE STRONY
    </section>
    <section class="welcome__newsletter">NEWSLETTER</section>
    <section class="welcome__contact">KONTAKT</section>
</main>

{% endblock content %}