{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
  <h1>Registration</h1>
  {% if form.errors %}
    <p>some errors</p>
  {% else %}
    <p>Fill up form below to sign in.</p>
  {% endif %}
  <div class='login-form'>
    <form action="{% url 'registration' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type='hidden' name='next' value='{{ request.GET.next }}'/>
      <p><input type='submit' value='sign in'/> </p>
    </form>
  </div>
{% endblock content %}