{% extends "base.html" %}

{% block title %}{{ category|upper }}{% endblock title %}

{% block content %}
<br>Wybrałeś kategorię <b>"{{category}}"</b></h2>
<div class="events">
    {% for event in events %}
        <a href='{% url "event-view" event.id %}'>
            <div class="event-box">
                <div>
                    <p class='event-box-title'>{{ event.name }}</p>
                    <div><img src='{{ event.event_photo.url }}' /></div>
                    <p>{{ event.description|truncatechars:150 }}</p>
                </div>
                <p class='event-box-date'>Added: {{ event.created|date }} </p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}